{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block content %}
<h1>Index Page</h1>
     <ul>
          {% for person in people %}
          <li>{{ person }}<button onclick="deletePerson({{ person.ID }})">Delete</button><a href="{{ url_for('detail',pid=person.ID) }}">Detail</a></li>
          {% endfor %}
     </ul>

     <h3>New Person</h3>
     <form action="{{url_for('index')}}" method="POST">
          <input type="text" name="nama" placeholder="Jeneng" required="required"><br>
          <input type="number" name="umur" placeholder="Umur"><br>
          <input type="text" name="pekerjaan" placeholder="Pekerjaan"><br>
          <input type="submit" value="Add">
     </form>

     <script type="text/javascript">
          function deletePerson(ID) {
              fetch('{{ url_for("delete",ID=ID) }}' + ID, {
                  method: 'DELETE'
              }).then(response => {
                  if (response.ok) {
                      window.location.reload();
                  } else {
                      console.error('Gagal menghapus item dengan PID', ID);
                  }
              }).catch(error => {
                  console.error('Error saat menghapus', error);
              });
          }
     </script>

{% endblock %}

